<h1>My Messages</h1>

<%= form_for Message.new , remote:true do |f|   %>
  <div class="form-group">
    <%= f.text_field :body, placeholder:
    "what needs to talk?" %>
  </div>

  <div class="form-group">
  <%= f.submit %>
  </div>
<% end %>

<ul>
<% @messages.each do |message| %>
  <%= render @messages %>
<% end %>
</ul>